.contactsitem-container {
  border-bottom: 1px solid white;
  border-top: 1px solid white;
  background-color: rgb(248, 248, 248);
  display: flex;
  justify-content: space-between;
  padding: 2em 0em;
}

.contactsitem-container:first-child {
  border-top: 2px solid white;
}

.contactsitem-container > * {
  text-align: center;
  width: 100%;
}

.contactsitem-icons > * {
  cursor: pointer;
  padding: 0em 1em;
}
