.contacts-header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 2em;
  width: 100%;
}

.contacts-header > * {
  margin: 0em 4em;
}

.contacts-container {
  align-items: center;
  background-color: white;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 2em;
  height: 40em;
  min-width: 20em;
  width: stretch;
  max-width: 60em;

  -webkit-box-shadow: 0px 3px 8px -3px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 3px 8px -3px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 3px 8px -3px rgba(0, 0, 0, 0.75);
}

.contacts-list {
  overflow-y: auto;
  height: 30em;
  width: 100%;
}

.contacts-titles {
  border-bottom: 1px solid gray;
  display: flex;
  justify-content: space-around;
  width: 100%;
  padding-bottom: 1em;
}
